<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="./../css/subscribe.css">
</head>
<body>
    <p>Subscribe to <%= location %>!</p>
    <hr />
    <% if(errorNick != null ) {%>
        <p>Greska sa sljedecim podacima: <%= errorNick %>, <%= errorEmail%></p>
    <% } %> 
    <div class="container">
        <form action="/subscribe/add/<%= location %>" method="POST">
            <fieldset>
                <div> <label for="nick"> Nick: </label> <input type="text" id="name" name="name" placeholder="Enter your nickname" required> </div>
                <div> <label for="email"> E-mail: </label> <input type="email" id="email" name="email" placeholder="Enter your email" required> </div>
                <div> <input type="submit" value="Submit"> </div>
            </fieldset>
        </form>
    </div>
</body>
</html>